/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START STYLING */
body{
  box-sizing: border-box;
  background-color: rgba(0, 128, 0, 0.3);
}
.container{
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
.app{
  width: 100%;
  max-width: 540px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 40px 30px 70px;
  margin: 70px auto 20px;
}
.app h2{
  color: #0f8baa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 70px;
}
.app h2 img{
  width: 80px;
  margin-left: 10px;
}
.input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  background-color: #c4c4c4;
}
#input-box{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 20px;
}
.input button{
  border: none;
  outline: none;
  padding: 20px 50px;
  background: #0000007a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
ul li{
  list-style: none;
  font-size: 20px;
  padding: 12px 10px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li:before{
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: url(assets/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked{
  color: #555;
  text-decoration: line-through;
}
ul li.checked:before{
  background-image: url(assets/checked.png);
}
ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 35px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
ul li span:hover{
  background: #c4c4c4;
}

